<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>产品</title>
	<style type="text/css">

	</style>
	<link type="text/css" rel="stylesheet" href="/static/admin/layui/css/layui.css" />
	<link type="text/css" rel="stylesheet" href="/static/index/css/index.css" />
	<script type="text/javascript" src="/static/index/js/jquery.js"></script>
	<script type="text/javascript" src="/static/admin/layui/layui.js"></script>
	<script src="/static/home/js/jquery.imagesloaded.js"></script>
	<script type="text/javascript">
		var data = {$data};
		var device_id = '{$device_id}';
		$(function () {
		    //var device_id = GetQueryString('device_id');
		    //alert(device_id);
		    setData();
		});

		function setData (id) {
            var html = "";
            for (var ii=0;ii<data.length;ii++){
                html +='<div class="box">\n' +
                    '<div class="info">\n' +
                    '<div class="pic"><a onclick="getPro('+data[ii].id+')" href="{:url(\'proDesc\')}?id='+ data[ii].id +'&device_id='+device_id+'" class="href"><img src="/'+ data[ii].pro_img+' " onerror="this.src=\'/static/admin/images/no_img.jpg\'"></a></div>\n' +
                    '<div class="title"><a style="display: block;color: #544d4d" href="{:url(\'proDesc\')}?id='+data[ii].id+'&device_id='+device_id+'">'+ data[ii].name +'</a><b style="font-size: 17px; color: #c41713;">￥'+ data[ii].pro_price +'</b></div>\n' +
                    '</div>\n' +
                    '</div>';
            }
            document.getElementById('wrap').innerHTML=html;
            $('#wrap').imagesLoaded(function(){
                //运行瀑布流主函数
                PBL('wrap','box');
            });
            //设置滚动加载
            /*window.onscroll = function(){
                //校验数据请求
                if(getCheck()) {
                    console.log(1111);
                    var wrap = document.getElementById('wrap');
                    for (i in data) {
                        //创建box
                        var box = document.createElement('div');
                        box.className = 'box';
                        wrap.appendChild(box);
                        //创建info
                        var info = document.createElement('div');
                        info.className = 'info';
                        box.appendChild(info);
                        //创建pic
                        var pic = document.createElement('div');
                        pic.className = 'pic';
                        info.appendChild(pic);
                        //创建a标签链接
                        var aImg = document.createElement('a');
                        aImg.className = 'href';
                        aImg.href = "{:url('proDesc')}&id=" + data[i].id;
                        pic.appendChild(aImg);
                        //创建img
                        var img = document.createElement('img');
                        img.src = '/' + data[i].pro_img;
                        img.style.height = 'auto';
                        aImg.appendChild(img);
                        //创建title
                        var title = document.createElement('div');
                        title.className = 'title';
                        info.appendChild(title);
                        //创建a标记
                        var a = document.createElement('a');
                        a.href = "{:url('proDesc')}&id=" + data[i].id;
                        a.innerHTML = data[i].name;
                        title.appendChild(a);
                    }
                }
                PBL('wrap','box');
            }*/
		}
        /**
         * 瀑布流主函数
         * @param  wrap	[Str] 外层元素的ID
         * @param  box 	[Str] 每一个box的类名
         */
        function PBL(wrap,box){
            //	1.获得外层以及每一个box
            var wrap = document.getElementById(wrap);
            var boxs  = getClass(wrap,box);
            //	2.获得屏幕可显示的列数
            var boxW = boxs[0].offsetWidth;
            var colsNum = Math.floor(document.documentElement.clientWidth/boxW);
            wrap.style.width = boxW*colsNum+'px';//为外层赋值宽度

            //	3.循环出所有的box并按照瀑布流排列
            var everyH = [];//定义一个数组存储每一列的高度
            for (var i = 0; i < boxs.length; i++) {
                if(i<colsNum){
                    everyH[i] = boxs[i].offsetHeight;
                }else{
                    var minH = Math.min.apply(null,everyH);//获得最小的列的高度
                    var minIndex = getIndex(minH,everyH); //获得最小列的索引
                    getStyle(boxs[i],minH,boxs[minIndex].offsetLeft,i);
                    everyH[minIndex] += boxs[i].offsetHeight;//更新最小列的高度
                }
            }
        }
        /**
         * 获取类元素
         * @param  warp		[Obj] 外层
         * @param  className	[Str] 类名
         */
        function getClass(wrap,className){
            var obj = wrap.getElementsByTagName('*');
            var arr = [];
            for(var i=0;i<obj.length;i++){
                if(obj[i].className == className){
                    arr.push(obj[i]);
                }
            };
            return arr;
        }
        /**
         * 获取最小列的索引
         * @param  minH	 [Num] 最小高度
         * @param  everyH [Arr] 所有列高度的数组
         */
        function getIndex(minH,everyH){
            for(index in everyH){
                if (everyH[index] == minH ) return index;
            }
        }
        /**
         * 数据请求检验
         */
        function getCheck(){
            var documentH = document.documentElement.clientHeight;
            var scrollH = document.documentElement.scrollTop || document.body.scrollTop;
            return documentH+scrollH>=getLastH() ?true:false;
        }
        /**
         * 获得最后一个box所在列的高度
         */
        function getLastH(){
            var wrap = document.getElementById('wrap');
            var boxs = getClass(wrap,'box');
            return boxs[boxs.length-1].offsetTop+boxs[boxs.length-1].offsetHeight;
        }
        /**
         * 设置加载样式
         * @param  box 	[obj] 设置的Box
         * @param  top 	[Num] box的top值
         * @param  left 	[Num] box的left值
         * @param  index [Num] box的第几个
         */
        var getStartNum = 0;//设置请求加载的条数的位置
        function getStyle(box,top,left,index){
            if (getStartNum>=index) return;
            $(box).css({
                'position':'absolute',
                'top':top,
                "left":left,
                "opacity":"0"
            });
            $(box).stop().animate({
                "opacity":"1"
            },999);
            getStartNum = index;//更新请求数据的条数位置
        }
	</script>
</head>
<body>
<!--顶端分类容器-->
<div class="wrapper wrapper-content animated fadeInRight" style="position: relative;">
	<div class="layui-row">
		<div class="layui-col-md12" style="position: relative;">
			<div class="layui-tab">
				<ul class="layui-tab-title" style="text-align: center; width: 66%;margin: auto;">
					<li style="font-size: 18px; float: left;" onclick="getProList()"{if condition="$id eq 0 "}class="layui-this"{/if}>全部产品</li>
					<li onclick="updateClass(event)" style="font-size: 18px; float: left;">分类列表</li>
				</ul>
				<form name="admin_list_sea" class="form-search" method="post" action="{:url('index')}?device_id={$device_id}" style="position: absolute; top:12px;right: 11px;">
					<div class="col-sm-3">
						<div class="layui-input-inline">
							<input type="text" id="key" class="form-control" name="key" value="{$val}" placeholder="输入要查询的产品名称" style="height: 24px; padding:6px;"/>
							<!--<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">-->
							<span class="input-group-btn">
							<button type="submit" class="button"><i class="layui-icon">&#xe615;搜索</i></button>
						</span>
						</div>
					</div>
				</form>
			</div>
			<div class="product-cate-box is-hiddens">
				<ul>
					{if !empty($cate)}
                    {foreach name="cate" item="vo"}
                        <li class="product-cate-list {if condition="$id eq $vo['id']"}this-color{/if}" onclick="getProList({$vo.id})">

						<span style="display:inline-block;">{$vo.group_name}</span>
						</li>
                    {/foreach}
                    {/if}
				</ul>
			</div>
		</div>
	</div>
	<!--图片显示容器-->
	<div id="wrap">

	</div>
</div>

<script type="text/javascript">
	function getProList (id) {
	    if (id) {
	        window.location.href = '{:url("index")}?id=' + id + '&device_id=' + device_id;
	        reutrn;
		}
        window.location.href = '{:url("index")}' + '?device_id=' + device_id;
	}
	function getPro(id){
	    var imgPath;
        $.getJSON('./getOnePro',{'id':id}, function(res){
            if(res.code == 1){
                imgPath = res.data;
                console.log(imgPath);
				var point = imgPath.lastIndexOf(".");
                var type = imgPath.substr(point);
                if(type==".jpg"){
                    PageEvent.showImage(imgPath);
                }else{
                    PageEvent.showVideo(imgPath);
                }
            }
        });
	}
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    });

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
    
    function updateClass(event) {
        event.stopPropagation();
		$(".product-cate-box").toggleClass('is-hiddens');
    }

	$(document).on('click',function () {
        $(".product-cate-box").addClass('is-hiddens');
	});

	$('.product-cate-box').on('click',function (event) {
        event.stopPropagation();
    })
</script>
</body>
</html>