<div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="__IMG__/20170602161307_312.jpg" alt="about me" class="blog-entry-img" >
            <p>欧派家居</p>
            <p>
                欧派家居，家具定制。
        </p><p> 欧派家居集团股份有限公司创立于1994年，股票代码603833，是中国整体橱柜行业的领先品牌，拥有国际化家居产品制造基地。欧派以整体橱柜为龙头，带动相关产业发展，包括全屋定制、衣柜、卫浴、木门、墙饰壁纸、厨房电器、寝具等，形成多元化产业格局，是国内综合型的现代整体家居一体化服务供应商。</p>
        </div>
        <!--<div class="blog-sidebar-widget blog-bor">-->
            <!--<h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>-->
            <!--<p>-->
                <!--<a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>-->
                <!--<a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>-->
                <!--<a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>-->
                <!--<a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>-->
                <!--<a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>-->
            <!--</p>-->
        <!--</div>-->
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a href="" class="blog-tag">大家居</a>
            <a href="" class="blog-tag">橱柜</a>
            <a href="" class="blog-tag">衣柜</a>
            <a href="" class="blog-tag">卫浴</a>
            <a href="" class="blog-tag">木门</a>
            <a href="" class="blog-tag">壁纸</a>
            <a href="" class="blog-tag">电器</a>
            <a href="" class="blog-tag">奥维</a>
            </div>
        </div>
        <!--<div class="blog-sidebar-widget blog-bor">-->
            <!--<h2 class="blog-title"><span>么么哒</span></h2>-->
            <!--<ul class="am-list">-->
                <!--<li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>-->
                <!--<li><a href="#">我把最深沉的秘密放在那里。</a></li>-->
                <!--<li><a href="#">你不懂我，我不怪你。</a></li>-->
                <!--<li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>